@import "tailwindcss";

/* Custom styles */
body {
  font-feature-settings: 'rlig' 1, 'calt' 1;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: rgb(241 245 249);
}

.dark ::-webkit-scrollbar-track {
  background: rgb(30 41 59);
}

::-webkit-scrollbar-thumb {
  background: rgb(203 213 225);
  border-radius: 9999px;
}

.dark ::-webkit-scrollbar-thumb {
  background: rgb(71 85 105);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(148 163 184);
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: rgb(100 116 139);
}

/* Animated gradient */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 3s ease infinite;
}

/* Hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


:root {
  color-scheme: light dark;
}
